.det {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.label {
    color: #48414199;
    font-size: 1.25rem;
}

.value {
    font-weight: 700;
    font-size: 1.25rem;
}

@media (max-width: 600px) {
    .label, .value {
        font-size: 1rem;
    }
}